body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.allroot {
	margin: 50px 100px 0px 100px;
	border: 4px solid #b5a397;
	padding-bottom: 0px;
	/*padding:5px 0px 25px 700px;*/
}

#root1 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root2 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root3 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root4 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root5 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root6 {
	border-bottom: 3px solid #90A4AE;
	padding:30px 100px 30px 680px; 
}
#root7 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root8 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root9 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root10 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root11 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root12 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root13 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 680px; 
}
#root14 {
	border-bottom: 3px solid #90A4AE;
	padding:30px 100px 30px 740px;  
}
#root14 button {
	height:30px;
	weight:60px;
	border:2px solid black;
	border-radius: 5px;
}
#root15 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 700px; 
}
#root16 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 80px 30px 700px; 
}
#root16 button {
	height:30px;
	weight:60px;
	border:2px solid black;
	border-radius: 5px;
}
#root17 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 700px; 
}
#root18 {
	border-bottom: 3px solid #90A4AE;
	padding:30px 100px 30px 700px;  
}
#root19 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 700px; 
}
#root20 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 700px; 
}
#root21 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 700px; 
}
#root22 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 700px; 
}
#root23 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 700px; 
}
#root24 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 30px 700px;  
}
#root25 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 30px 700px;  
}
#root26 {
	border-bottom: 3px solid #90A4AE;
	padding:30px 100px 30px 700px;  
}
#root27 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 30px 700px;  
}
#root28 {
	border-bottom: 3px solid #90A4AE;
	padding:30px 100px 30px 700px;
}
#root29 {
	border-bottom: 3px solid #90A4AE;
	padding:30px 100px 30px 700px;
}
#root30 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 700px; 
}
#root31 {
	border-bottom: 3px solid #90A4AE;
	padding:10px 100px 10px 700px; 
}
#root32 {
	padding:10px 100px 10px 700px; 
}